@page "/employeeedit"
@page "/employeeedit/{EmployeeId}"

@using BethanysPieShopHRM.Shared;

@if (!Saved)
{
    <section class="employee-edit">
        <h1 class="page-title">Details for @Employee.FirstName @Employee.LastName</h1>

        <EditForm Model="@Employee" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
            <div class="form-group row">
                <label for="firstName" class="col-sm-3">First Name: </label>
                <InputText id="firstName" class="form-control col-sm-8" @bind-Value="@Employee.FirstName" placeholder="Enter first name"></InputText>
            </div>

            <div class="form-group row">
                <label for="lastName" class="col-sm-3">Last Name: </label>
                <InputText id="lastName" class="form-control col-sm-8" @bind-Value="@Employee.LastName" placeholder="Enter last name"></InputText>
            </div>

            <div class="form-group row">
                <label for="birthdate" class="col-sm-3">Birthdate: </label>
                <InputDate id="birthdate" class="form-control col-sm-8" @bind-Value="@Employee.BirthDate" placeholder="Enter birthdate"></InputDate>
            </div>

            <div class="form-group row">
                <label for="email" class="col-sm-3">Email: </label>
                <InputText id="email" class="form-control col-sm-8" @bind-Value="@Employee.Email" placeholder="Enter email"></InputText>
            </div>

            <div class="form-group row">
                <label for="street" class="col-sm-3">Street: </label>
                <InputText id="street" class="form-control col-sm-8" @bind-Value="@Employee.Street" placeholder="Enter street"></InputText>
            </div>

            <div class="form-group row">
                <label for="zipCode" class="col-sm-3">Zip code: </label>
                <InputText id="zipCode" class="form-control col-sm-8" @bind-Value="@Employee.Zip" placeholder="Enter zip code"></InputText>
            </div>

            <div class="form-group row">
                <label for="city" class="col-sm-3">City: </label>
                <InputText id="city" class="form-control col-sm-8" @bind-Value="@Employee.City" placeholder="Enter city"></InputText>
            </div>

            <div class="form-group row">
                <label for="country" class="col-sm-3">Country: </label>
                <InputSelect id="country" class="form-control col-sm-8" @bind-Value="@Employee.CountryId" placeholder="Enter city">
                    @foreach (var country in Countries)
                        {
                        <option value="@country.CountryId">@country.Name</option>
                        }
                </InputSelect>
            </div>

            <div class="form-group row">
                <label for="phoneNumber" class="col-sm-3">Phone Number: </label>
                <InputText id="phoneNumber" class="form-control col-sm-8" @bind-Value="@Employee.PhoneNumber" placeholder="Enter phone number"></InputText>
            </div>

            <div class="form-group row">
                <label for="longitude" class="col-sm-3">Longitude: </label>
                <InputNumber id="longitude" class="form-control col-sm-8" @bind-Value="@Employee.Longitude"></InputNumber>
            </div>

            <div class="form-group row">
                <label for="latitude" class="col-sm-3">Latitude: </label>
                <InputNumber id="latitude" class="form-control col-sm-8" @bind-Value="@Employee.Latitude"></InputNumber>
            </div>

            <div class="form-group row">
                <label for="smoker" class="col-sm-3">
                    <InputCheckbox id="smoker" @bind-Value="@Employee.Smoker"></InputCheckbox>
                    &nbsp;Smoker
                </label>
            </div>

            <div class="form-group row">
                <label for="jobCategory" class="col-sm-3">Job Category: </label>
                <InputSelect id="jobCategory" class="form-control col-sm-8" @bind-Value="@Employee.JobCategoryId">
                    @foreach (var jobCategory in JobCategories)
                        {
                        <option value="@jobCategory.JobCategoryId">@jobCategory.JobCategoryName</option>
                        }
                </InputSelect>
            </div>

            <div class="form-group row">
                <label for="gender" class="col-sm-3">Gender: </label>
                <InputSelect id="gender" class="form-control col-sm-8" @bind-Value="@Employee.Gender">
                    <option value="@Gender.Male">Male</option>
                    <option value="@Gender.Female">Female</option>
                    <option value="@Gender.Other">Other</option>
                </InputSelect>
            </div>

            <div class="form-group row">
                <label for="maritalStatus" class="col-sm-3">Marital Status: </label>
                <InputSelect id="maritalStatus" class="form-control col-sm-8" @bind-Value="@Employee.MaritalStatus">
                    <option value="@MaritalStatus.Married">Married</option>
                    <option value="@MaritalStatus.Other">Other</option>
                    <option value="@MaritalStatus.Single">Single</option>
                </InputSelect>
            </div>

            <div class="form-group row">
                <label for="joinedDate" class="col-sm-3">Joined On: </label>
                <InputDate id="joinedDate" class="form-control col-sm-8" @bind-Value="@Employee.JoinedDate" placeholder="Enter joined date"></InputDate>
            </div>

            <div class="form-group row">
                <label for="exitDate" class="col-sm-3">Left On: </label>
                <InputDate id="exitDate" class="form-control col-sm-8" @bind-Value="@Employee.ExitDate" placeholder="Enter exit date"></InputDate>
            </div>

            <div class="form-group row">
                <label for="comment" class="col-sm-3">Comment: </label>
                <InputTextArea id="comment" class="form-control col-sm-8" @bind-Value="@Employee.Comment" placeholder="Enter comments"></InputTextArea>
            </div>

            <button type="submit" class="btn btn-primary edit-btn">Save Employee</button>

            @if(Employee.EmployeeId > 0)
             {
                <a class="btn btn-danger" @onclick="@DeleteEmployee">
                    Delete
                </a>
             }

            <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Back to overview</a>
        </EditForm>
    </section>
}
else
{
    <div class="'alert @StatusClass">@Message</div>
}



